.upper1{
    background-color: #435261;
    font-family: Calibri;
    font-size: 25px;
    color: white;
    text-align: left;
    padding: 70px 0 80px 60px;
}

h2{
    font-size: 70px;
    margin: 0px;
}

p{
    font-family: Calibri;
    font-size: 25px;
    padding: 2px;
}

h3{
    font-family: Calibri;
    font-size: 30px;
    margin: 0px;
}

td{
    font-size: 20px;
    color: orangered;
    font-style: italic;
}

table.text{
    width: 75%;
    border-spacing: 0;
}

table.text td{
    width: 50%;
    vertical-align: top;
}

td.rightcol{
    text-align: right;
}

div h1{
    color: orangered;
    text-decoration: underline;
    font-family: Calibri;
    font-size: 40px;
    padding-bottom: 1px;
    text-transform: uppercase;
}

span{
    color: orangered;
    font-family: Calibri;
    font-size: 30px;
}

div > span{
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
    line-height: 3;
    white-space: nowrap;
}


.backl1{
    background-color: #293740;
    font-family: Calibri;
    color: white;
    padding-left: 0;
}

div > p > img{
    width: 20px;
    height: 20px;
    margin: 10px 15px 0 0;
}

.butt1{
    background-color: rgb(149,153,158);
    color: white;
}

div > p > a{
    color: white;
    text-decoration: none;
}

div > a >img{
    border-radius: 110px;
    border: 8px solid orangered;
    float: right;
    overflow: hidden;
    margin: 0 125px 0 0;
}

p > i{
    color: gray;
}

.bodystyles{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Calibri;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.flex-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: row nowrap;
}

.first {
  height: 300px;
  flex-grow: 5;
  padding: 10px;
  margin-left: 50px;
}

.second {
  height: 300px;
  max-width: 50%;
  flex-grow: 5;
  padding: 10px;
}

