@media(min-width: 768px) and (max-width: 1200px) {
    body {
        background-image: none;
    }

    .wraper {
        padding: 0;
        margin-top: 80px;
        padding-top: 10px;
        flex: 1 0 auto;
        font-size: 1.5rem;
    }

    .footer {
        flex-shrink: 0;
    }
    
    .maps>iframe {
        padding: 0 5px 0 5px;
        height: 300px;
        width: 100%;
    }

    .fd {
        width: 50%;
        margin: auto;
    }

    p {
        font-size: 18px;
    }

    .footer h4 {
        font-size: 14px;
    }
}

@media(min-width: 320px) and (max-width: 767px) {
    body {
        background-image: none;
    }

    .wraper {
        margin: 0;
        margin-top: 60px;
        justify-content: none;
        width: 100%;
    }

    .maps>iframe {
        padding: 0 5px 0 5px;
        width: 100%;
    }

    .fd {
        width: 70%;
        margin: auto;
    }

    p {
        font-size: 15px;
    }

    .footer h4 {
        font-size: 12px;
    }
}

@media(max-width: 319px) {
    body {
        background-image: none;
        width: 100%;
    }

    .wraper {
        margin: 0;
        margin-top: 60px;
        justify-content: none;
        width: 100%;
    }

    .maps>iframe {
        padding: 0 5px 0 5px;
        width: 100%;
        height: 200px;
    }

    .fd {
        width: 80%;
    }

    p {
        font-size: 10px;
    }

    h2 {
        font-size: 14px;
    }

    .footer h4 {
        font-size: 9px;
    }
}