body {
	text-align: center;
	font-family: "Forever Brush Script", sans-serif;
}
.page {
	width: 500px;
	height: 800px;
	text-align: center;
	margin: 0 auto;
}
.title {
	line-height: 1;
	font-size: 65px;
	margin-bottom: -40px;
}
.subtitle {
	line-height: 1;
	font-size: 45px;
}
.address {
	font-size: 10px;
	color: #aaa;
}
.job {
	position: relative;
	top: 10px;
	font-size: 16px;
	font-weight: bold;
	color: rgb(78, 141, 210);
}
.job:before,
.job:after {
	content: '';
	width: 100px;
	height: 1px;
	background-color: rgb(78, 141, 210);
	position: absolute;
	top: 10px;
	left: 0px;
}
.job:after {
	left: 400px;
}
.container {
	display: flex;
	height: 100px;
	margin-top: 50px;
}
.article {
	text-align: left;
	width: 75%;
}
.aside {
	background-color: rgba(78, 141, 210, .5);
	text-align: left;
	width: 25%;
	height: 100%;
}
.heading {
	font-size: 18px;
	font-weight: 700;
}
.article__inner {
	display: flex;
	margin-top: 15px;
}
.left {
	color: rgb(81, 141, 212);
	font-size: 9px;
}
.right {
	margin-left: 15px;
}
.head {
	font-size: 11px;
	font-weight: 700;
}
.sub {
	font-size: 11px;
	color: #aaa;
}
.text {
	font-size: 9px;
}
.heading--2 {
	margin-top: 20px;
}
.aside {
	padding: 3px;
	height: 560px;
}
.aside__item .sub{
	font-weight: 700;
	color: #000;
}
.sub--2 {
	margin-top: 10px;
}